@media only screen and (max-width: 600px) {
    .navbar-collapse {
        /* background-color: rgb(8, 8, 8); */
        margin-left: 0%;
    }

    .status{
        display: none;
    }
   
}

.navbar-collapse{
    margin-left:70%
}
